/* You can add global styles to this file, and also import other style files */
#gameCanvas {
    background-color: #333333;
    display: grid;
    width: 500px;
    grid-template-rows: repeat(50, 10px);
    grid-template-columns: repeat(50, 10px);
}

#gameCanvas:focus {
    outline: 0;
}

.snake {
    background-color: #ffffff;
}

.apple {
    background-color: red;
}